<h1>Question:</h1>
<p>
  <%= @question.body %>
  (
  <%= link_to 'edit', edit_question_path(@question) %>,
  <%= link_to 'delete',
              question_path(@question),
              method: :delete,
              data: { confirm: 'Are you sure?' }
  %>,
  <%= link_to 'back', test_path(@question.test) %>
  )
</p>

<h2>Answers</h2>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>
