<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2><%= t('app.become_guru') %></h2>

    <div class="card border-primary">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= render "devise/shared/error_messages", resource: resource %>

            <p class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </p>

            <p>
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
            </p>

            <p>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </p>

            <p>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= t('app.devise.chars_min', chars: @minimum_password_length) %>)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control password1' %>
            </p>

            <p>
              <%= f.label :password_confirmation %>
              <%= octicon 'check-circle', class: 'text-success hide' %>
              <%= octicon 'x-circle', class: 'text-danger hide' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control password2' %>
            </p>

            <p class="actions">
              <%= f.submit t('app.sign_up'), class: "btn btn-primary" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</br>
