<%= form_with model: @user, local: true do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, id: :user_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, id: :user_name %>
  </p>


  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <p><%= f.submit 'Signup' %></p>
<% end %>
