<h1>"<%= @test_passage.test.title %>" <%= t('.header') %></h1>
<p>
  <%= t('.correct', q_correct: @test_passage.correct_questions,
                    q_number: @test_passage.test.questions.count,
                    percent: @test_passage.result) %><br>
  <% if @test_passage.success? %>
    <p class='success'><%= t('.success') %>.</p>
  <% else %>
    <p class='failure'><%= t('.failure') %>.</p>
  <% end %>
</p>
