<h1>"<%= t('app.test') %><%= @test_passage.test.title %>"</h1><br>

<p><%= t('.question', index: @test_passage.current_question_index,
                      q_count: @test_passage.test.questions.count) %>
</p>

<h2><%= @test_passage.current_question.body %></h2><br>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers,
                               :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= f.submit t('.next') %></p>
<% end %>

<%= form_with url: admin_gists_path, local: true, method: :post do |form| %>
  <%= hidden_field(:test_passage, :id, value: @test_passage.id) %>
  <%= form.submit t('.save_gist'), class: "btn btn-link" %>
<% end %>
