<%= form_with model: [:admin, @test], local: true do |f| %>
  <%= render 'shared/errors/errors_list', resource: @test %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, id: :test_title %><br>
  </p>
  <p>
    <%= f.label :level %><br>
    <%= f.number_field :level, id: :test_level %><br>
  </p>
  <p>
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true %><br>
  </p>

  <p><%= f.submit %></p>
<% end %>
