<h1><%= t('.header') %>:</h1>

<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col"><%= t('app.title') %></th>
      <th scope="col"><%= t('app.level') %></th>
      <th scope="col"><%= t('app.questions') %></th>
      <th scope="col" colspan='3'><%= t('app.actions') %>:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
