<h1><%= t('.header') %>:</h1>

<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<%= render 'shared/errors/errors_list', resource: @test %>

<table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col" class="sort-by-title pointer">
        <%= t('app.title') %>
        <%= octicon 'arrow-up', class: 'text-success' %>
        <%= octicon 'arrow-down', class: 'text-success' %>
      </th>
      <th scope="col"><%= t('app.level') %></th>
      <th scope="col"><%= t('app.questions') %></th>
      <th scope="col" colspan='3'><%= t('app.actions') %>:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
