<h1><%= t('.header') %>:</h1>

<p>
  <strong><%= @test.title %></strong><br>
  <%= t('app.level') %>: <%= @test.level %>
</p>
<p><%= t('app.actions') %>:
    <%= link_to t('app.edit'), edit_admin_test_path(@test) %>,
    <%= link_to t('app.delete'),
                admin_test_path(@test),
                method: :delete,
                data: {confirm: t('app.sure?')}
    %>

    <%= button_to t('.start'), start_test_path(@test) %>
</p>
<h2>
  <%= @test.questions.count %>
  <%= t('.questions', count: @test.questions.count) %>
</h2>
<ul>
  <%= render @test.questions  %>
</ul>
<p>
  <%= link_to t('.add'), new_admin_test_question_path(@test) %>
</p>
<p><%= link_to t('app.back'), admin_tests_path %></p>
