<h1><%= t('tests.index.header') %>:</h1>

<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col"><%= t('app.title') %></th>
      <th scope="col"><%= t('app.level') %></th>
      <th scope="col"><%= t('app.questions') %></th>
      <th scope="col"><%= t('app.actions') %>:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
