<h1><%= t('tests.index.header') %>:</h1>

<table>
  <thead>
    <tr>
      <th><%= t('app.title') %></th>
      <th><%= t('app.level') %></th>
      <th><%= t('app.questions') %></th>
      <th><%= t('app.actions') %>:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
