<h1><%= t('tests.index.header') %>:</h1>

<table class="table">
  <thead>
    <tr  class="table-primary">
      <th scope="col" class="sort-by-title pointer">
        <%= t('app.title') %>
        <%= octicon 'arrow-up', class: 'text-success' %>
        <%= octicon 'arrow-down', class: 'text-success' %>
      </th>
      <th scope="col"><%= t('app.level') %></th>
      <th scope="col"><%= t('app.questions') %></th>
      <th scope="col"><%= t('app.actions') %>:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
