<h1>Test:</h1>
<p>
  <%= @test.title %>
    (
    <%= link_to 'edit', edit_test_path(@test) %>,
    <%= link_to 'delete',
                test_path(@test),
                method: :delete,
                data: {confirm: 'Are you sure?'}
    %>
    )
<p/>
<h2>
  <%= pluralize(@questions.count, 'question', locale: :en) %>
</h2>
<ul>
  <%= render @questions %>
</ul>
<p>
  <%= link_to 'Add a question', new_test_question_path(@test) %>
</p>
