<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'admin/nav' %>

      <%= link_to t('app.tests'), tests_path %>
      <%= link_to t('app.test_passages'), test_passages_path %>
      <%= link_to t('app.gists'), admin_gists_path %>

      <%= render 'shared/flash' %>

      <%= yield %>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
